<?xml version="1.0"?>
<robot name="ur10e" xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- ================= -->
  <!-- World -->
  <!-- ================= -->
  <link name="world"/>

  <!-- ================= -->
  <!-- Robot -->
  <!-- ================= -->
  <xacro:include filename="$(find ur_description)/urdf/ur5_macro.xacro"/>

  <!-- Spawn UR5 -->
  <xacro:ur5 prefix="robot1_"/>

  <!-- ================= -->
  <!-- Fixed base -->
  <!-- ================= -->
  <joint name="world_to_robot1_base" type="fixed">
    <parent link="world"/>
    <child link="robot1_base_link"/>
    <origin xyz="0 0 0.0" rpy="0 0 0"/>
  </joint>

</robot>
